<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular JS with Controller</title>
    <script src="scripts/angular.js"></script>
</head>
<body ng-app ="myApp">
<h1>AngularJS Example 2 - Controller Test change</h1>

<div ng-controller="myCtrl">

    <h1> Total :  {{total}} </h1>

    <input type="number" ng-model="num1" placeholder="Enter number 1">
    <input type="number" ng-model="num2" placeholder="Enter number 2">
    <button ng-click="addNumbers()">Add</button>
    <button ng-click="multiplyNumbers()">Multiply</button>

</div>

<script>

    var app = angular.module('myApp', []);

    app.controller('myCtrl', function($scope){

        $scope.total ;

        $scope.addNumbers = function(){
           $scope.total = $scope.num1 + $scope.num2;
        };

        $scope.multiplyNumbers = function(){
            $scope.total =  $scope.num1 * $scope.num2;
        }

    });

</script>

</body>
</html>